@import 'vars';
@import 'global';
@import 'fonts';
@import 'header';
@import 'search';
@import 'advantages';
@import 'prod-slider';
@import 'products';
@import 'footer';
@import 'prod-page';

// start informations
.informations {
  background-color: #212225;
  padding: 90px 0;
  margin-bottom: 115px;
  &__inner {
    display: flex;
    justify-content: space-arround;
    align-items: center;
    padding: 0 95px;
    color: #fff;
    text-align: center;
    &-item {
      max-width: 360px;
      width: 100%;
      margin-bottom: 0 30px;
    }  
      
    
    &-count {
      font-size: 24px;
      line-height: 36px;
      &_briefcase {
        color: #feb71d;
      }
      &_cloud {
        color: #58c9e9;
      }
      &_smile {
        color: #77de51;
      }
      &_users {
        color: #ff6a6d;
      }
    }

    &-decription {
      font-size: 16px;
      line-height: 30px;
    }

    &-icon {
      position: relative;
      font-size: 48px;
      font-family: 'Linearicons-Free';
      margin-bottom: 40px;
      &_briefcase::before {
        content: "\e84c";
        color: #feb71d;
      }
      &_cloud::before {
        content: "\e80a";
        color: #58c9e9;
      }
      &_smile::before {
        content: "\e854";
        color: #77de51;
      }
      &_users::before {
        content: "\e82b";
        color: #ff6a6d;
      }
    }
    
  }
  
  
}
// end ifomations

// start vantages
.vantages {
  background-color: #fff;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    margin-bottom: 120px;
    &-item {
      width: 360px;
      padding: 15px 25px 60px;
      margin: 10px;
      border-radius: 4px;
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }  

    &-number {
      font-size: 48px;
      line-height: 52px;
      color: #e5eafe;
      text-align: left;
    }  
    &-img {
      margin: 0 auto 30px;
      display: block;
    }
    
    &-title {
      font-size: 24px;
      line-height: 36px;
      font-weight: 500;
    }

    &-decription {
      font-size: 16px;
      line-height: 30px;
      color: #555;
    }
  }
}

.section-title {
  max-width: 680px;
  margin: 0 auto 55px;
  text-align: center;
  &__main {
    font-size: 34px;
    line-height: 48px;
    font-weight: 500;
    color: #000;
    & span {
      color: #0674ec;
    }
  }
  &__desription {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #555;
  }

}
// end vantages

// start go
.go {
    height: 560;
    display: flex;
    justify-content: center;
    &__inner {
      position: relative;
      padding: 100px 210px 100px;
      color: #fff;
      text-align: center;
      &-title {
        font-size: 36px;
        line-height: 48px;
      }
      &-text {
        font-size: 16px;
        margin-bottom: 45px;
      }
    }
    
    &__btn {
      width: 190px;
      height: 55px;
      font-size: 16px;
      line-height: 52px;
      border: 1px solid #fff;
      border-radius: 25px;
      text-align: center;
      color: #fff;
      margin: 0 auto;
      &_right {
        background-color: #7347c1;
        &:hover {
          background-color: #fff;
          color: #7347c1;
        }
      }
      &_left {
        background-color: #0674ec;
        &:hover {
          background-color: #fff;
          color: #0674ec;
        }
      } 
    }
    &__left {
      width: 100%;
      background-color: #0674ec;
    }
    &__right {
      width: 100%;
      background-color: #7347c1;
    } 
  }
  // end go

  // start feedback
  .feedback {
    background-color: #fff;
    height: 840px;
    padding: 115px 0;
    &__inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      color: #000;
      text-align: center;
      margin-bottom: 120px;
    &-item {
      width: 555px;
      padding: 45px 35px 50px;
      margin: 10px;
      border-left: 2px solid blue;
      border-radius: 4px;
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
      }  
    &-top {
      display: flex;
      justify-content: start;
      align-items: center;
      margin-bottom: 25px;
    }
    &-photo {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: #808080;
      margin-right: 20px;
      }  
    &-user {
      margin-right: 185px;
    }
    &-user-name {
      font-size: 20px;
      line-height: 22px;
      font-weight: 700;
      color: #000;
      margin-bottom: 15px;
    }
    &-user-job {
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
      color: #5555;
    }
    &-icon {
      position: relative;
      font-size: 60px;
      font-family: 'Linearicons-Free';
    &::before {
        content: "\e83f";
        color: #e8e8e8;
      }
    }
    &-decription {
      font-size: 16px;
      line-height: 20px;
      color: #555;
      }
     &__btn {
      width: 190px;
      height: 55px;
      font-size: 16px;
      line-height: 52px;
      border: 1px solid #fff;
      border-radius: 25px;
      text-align: center;
      color: #747b86;
      margin: 60px auto 0;
      background-color: #f1f3f6;
        &:hover {
          background-color: #0674ec;
          color: #fff;
        }
      }  
    }
  }
  
  .section-title {
    max-width: 680px;
    margin: 0 auto 55px;
    text-align: center;
    &__main {
      font-size: 34px;
      line-height: 48px;
      font-weight: 500;
      color: #000;
      & span {
        color: #0674ec;
      }
    }
    &__desription {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      color: #555;
    }
  
  }
  // end feddback

  // start Latest-news
.latest-news {
  background-color: #eff1f5;
  height: 885px;
  padding: 115px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    max-width: 360px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    &-img {
      min-height: 230px;
      max-width: 360px;
      background-color: #7385cd;
      display: block;
    }
    &-img_blue {
      background-color: #90bbc4;
    }

    &-img_lilac {
      background-color: #ac7fb8;
    }
     
    &-content {
    padding: 20px 30px;
    min-height: 180px;
    @include f500;
    border-bottom: 1px solid #ececec;
    }  
    &-title {
      font-weight: 500;
      font-size: 22px;
      display: block;
      margin-bottom: 25px;
      color: #000;
    }
  
    &-description {
      font-size: 16px;
      @include f500;
      color: #555;
    }
    &-info {
      display: flex;
      justify-content: space-between; 
      align-items: center;
      min-height: 60px;
      padding: 10px 30px;
    }

    &-clock {
      position: relative;
      padding-right: 40px;
      &::before {
        font-family: 'Linearicons-Free';
        content: "\e864";
        font-size: 15px;
      }
    }

    &-bubble {
      position: relative;
      font-size: 15px;
      font-family: 'Linearicons-Free';
      border-left: 1px solid #ececec;
      padding-left: 40px;

    &::before {
        content: "\e83f";
      }
    }
  
    &-eye {
      position: relative;
      &::before {
        font-family: 'Linearicons-Free';
        content: "\e81b";
        font-size: 15px;
      }
    }
    
    &__rait {
      min-width: 25px;
      height: 25px;
      color: #000;  
      border-radius: 50%;
      font-size: 15px;
      text-align: center;
      line-height: 25px;
    }
  }
  
}
// end  Latest-news

// start ready-join
.ready-join {
  opacity: 0.902;
  height: 560;
  display: flex;
  justify-content: center;
  &__inner {
    position: relative;
    background-image: -webkit-linear-gradient( 180deg, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
    padding: 100px 210px 100px;
    color: #fff;
    text-align: center;
    &-title {
      font-size: 36px;
      line-height: 48px;
    }
    &-text {
      font-size: 16px;
      margin-bottom: 45px;
    }
  }
  
  &__btn {
    width: 190px;
    height: 55px;
    font-size: 16px;
    line-height: 52px;
    border: 1px solid #fff;
    border-radius: 25px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    &_right {
      background-color: #7347c1;
      &:hover {
        background-color: #fff;
        color: #7347c1;
      }
    }
    &_left {
      background-color: #f1f3f6;
      color: #747b86;
      &:hover {
        background-color: #fff;
        color: #0674ec;
      }
    } 
  }
  &__left {
    width: 100%;
    background-color: #0674ec;
  }
  &__right {
    width: 100%;
    background-color: #7347c1;
  } 
}
// end ready-join

// start short-inf
.short-inf {
  background-color: #fff;
  &__inner {
    display: flex;
    justify-content: space-around;
    color: #000;
    text-align: center;
    &-title {
      font-size: 24px;
    }
  }
  &__left {
    padding: 50px;
    width: 100%;
    border-right: 1px solid #e8eaf3;
    margin: 0 auto;
    span {
      color: #0674ec;
    }
  }
  &__right {
    margin: 0 auto;
    padding: 50px;
    width: 100%;
    span {
      color: #7347c1;
    }
  } 
}
// end short-inf